@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
//helpers
@import "colors";
@import "variables";
@import "mixins";
@import "grid";
@import "scroll";
@import "media.queries";

//libraries
@import "../../node_modules/normalize.css/normalize.css";
@import "fa/scss/font-awesome";

//fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  min-height: calc(100vh + 1px);
}

body {
  min-height: calc(100vh + 1px); // permanent scrollbar
}