<footer class="footer">
    <span class="social">
        <ul class="social-list">
            <li class="social-list__item">
                <i class="fa fa-facebook social-list__item-icon"></i>
            </li>
            <li class="social-list__item">
                <i class="fa fa-twitter social-list__item-icon"></i>
            </li>
            <li class="social-list__item">
                <i class="fa fa-youtube social-list__item-icon"></i>
            </li>
            <li class="social-list__item">
                <i class="fa fa-vk social-list__item-icon"></i>
            </li>
            <li class="social-list__item">
                <i class="fa fa-instagram social-list__item-icon"></i>
            </li>
        </ul>
    </span>
</footer>