@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.form-login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 370px;
}

.white {
  color: #000;
  background-color: #fff;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.with-errors {
  color: #a94442;
}

.commentForm {
  margin: 10px;
}

.form-control {
  margin-bottom: 10px !important;
}

.delete-button {
  margin-left: 5px;
}

.comment{
  padding-left: 10px;
}