<section class="state-add">
    <input type="text"
           class="state-add__title-input"
           placeholder="Title"
           inputFocus
           *ngIf="titleEditable"
           (blur)="toggleTitle()"
           [(ngModel)]="state.title">
    <h2 class="state-add__title"
        *ngIf="!titleEditable"
        (click)="toggleTitle()">
        {{state.title}}
    </h2>
    <input type="text"
           class="state-add__description-input"
           placeholder="Description"
           inputFocus
           *ngIf="descriptionEditable"
           (blur)="toggleDescription()"
           [(ngModel)]="state.description">
    <h4 class="state-add__description"
        *ngIf="!descriptionEditable"
        (click)="toggleDescription()">
        {{state.description}}
    </h4>

    <input type="file"
           imagePreview="state"
           id="state-file"
           (change)="selectFile($event)"
           (blur)="toggleImage($event)"
           class="state-add__image-input">
    <span class="state-add__wrong-image"
          *ngIf="imageShown"
          (click)="toggleImage()">Wrong image?</span>

    <div class="state-add-container"
         (click)="createHotspot($event)"
         [ngClass]="{'state-add-container--events-off' : hotspotCreationProcess}"
         id="state">
        <div class="state-add-container__backdrop"
             [ngClass]="{'state-add-container__backdrop--shown' : hotspotCreationProcess}"></div>
    </div>
    <div class="state-add-hotspot"
         *ngIf="hotspotCreationProcess">
        <input type="text"
               placeholder="Hotspot title"
               [(ngModel)]="hotspotTempData.title"
               inputFocus
               class="state-add-hotspot__title">
        <input type="text"
               placeholder="Hotspot description"
               [(ngModel)]="hotspotTempData.description"
               class="state-add-hotspot__description">
        <button class="state-add-hotspot__save fa fa-check"
                (click)="addHotspot()"></button>
        <button class="state-add-hotspot__cancel fa fa-times"
                (click)="removeHotspot()"></button>
    </div>

    <button class="state-add__save"
            (click)="saveState()">Save</button>

</section>