@import "../../../common-styles/_colors";
@import "../../../common-styles/_mixins";
@import "../../../common-styles/_media.queries";

landing {
  font-family: 'Raleway', sans-serif;
}

.menu {
  display: none; //temporary
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: black;
  }

  &-wrapper {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 100%;
    background: $primary-white;
    box-shadow: 1px 0 7px 0 $light-black;
  }

  &-list {
    @include list-reset();

    &-item {
      height: 40px;
      line-height: 40px;

      &__icon {
        display: inline-block;
        width: 50px;
        text-align: center;
      }

      &__link {
        @include link-reset();
        display: inline-block;
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 16px;
        color: $light-black;

        &:hover {
          background: lighten($light-black, 75%);
          color: $primary-blue;

          .menu-list-item__arrow {
            visibility: visible;
          }
        }
      }

      &__arrow {
        float: right;
        color: lighten($light-black, 50%);
        padding-right: 20px;
        visibility: hidden;
      }

      &--heading {
        height: 60px;
        line-height: 60px;
        background: $dark-blue;
        text-align: center;

        & .menu-list-item__title {
          font-size: 24px;
          color: $primary-white;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #094f71;

  &-hamburger {
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 5px;

    &__line {
      width: 20px;
      height: 3px;
      background: #ffffff;
      margin: 4px;
      border-radius: 2px;
    }
  }

  &-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 700px;
    height: 100%;

    @media #{$high-media} {
      justify-content: space-between;
    }

    &__logo {

    }

    &__description {
      font-size: 36px;
      color: $primary-white;
      display: none;

      @media #{$high-media} {
        display: block;
      }
    }
  }
}

.post-header {
  position: relative;
  background: $primary-blue;
  padding: 30px;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    @media #{$small-media} {
      max-width: 420px;
    }

    &__heading {
      margin: 0;
      font-size: 36px;
      font-weight: bold;
      color: $primary-white;
    }

    &__button {
      @include orange-button(5px, 24px);
      text-transform: uppercase;
      font-size: 16px;
      margin: 35px 0;

      @media #{$small-media} {
        font-size: 18px;
      }

      @media #{$medium-media} {
        font-size: 24px;
      }
    }
  }

  &-arrow {
    display: none;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 20px;
    height: 70px;
    overflow: hidden;
    color: $primary-white;

    @media #{$medium-media} {
      display: block;
    }

    &--right {
      left: auto;
      right: 10%;
    }

    &__one {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      animation-name: arrow-fly;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      font-size: 48px;
    }

    @keyframes arrow-fly {
      0% {
        opacity: 0;
        top: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        top: 100%;
      }
    }
  }
}

.fast-login {

  &__title {
    display: block;
    color: $primary-white;
    font-size: 20px;
  }

  &__with-google {
    @include button-reset();
    background-image: url("/assets/images/sign-in-with-google.png");
    background-size: cover;
    width: 153px;
    height: 30px;

    &:hover {
      opacity: 0.9;
    }
  }

  &-form {
    display: inline-block;

    &__email, &__password {
      @include input-reset();
      @include placeholder-styling($primary-white);
      width: 100px;
      border-bottom: 2px solid $primary-white;
      margin: 0 10px;
      color: white;
    }

    &__sign-in {
      @include button-reset();
      margin: 10px 0;
      color: $primary-white;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

.benefits {

  @media #{$high-media} {
    height: 100vh;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media #{$high-media} {
      padding: 0;
    }
  }

  &__heading {
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    color: $dark-blue;
  }

  &-list {
    @include list-reset();
    width: 100%;
    height: 100%;
    margin-top: -100px;
    padding-top: 110px;

    &-item {
      position: relative;
      display: block;
      height: 33%;

      @media #{$medium-media} {
        display: inline-block;
        width: 40%;
        float: left;
      }

      &-main {
        display: flex;
        align-items: center;
      }

      &__number {
        display: inline-block;
        width: 80px;
        height: 80px;
        background: $primary-blue;
        font-size: 48px;
        color: $primary-white;
        line-height: 80px;
        text-align: center;
      }

      &__name {
        display: inline-block;
        color: $primary-blue;
        margin: 0 15px;
        font-size: 24px;
        font-weight: normal;
      }

      &__description {
        display: block;
        color: $light-black;
        margin: 20px 0;
      }

      &--right {

        @media #{$medium-media} {
          float: right;
        }

        & .benefits-list-item-main {
          justify-content: flex-end;
        }

        & .benefits-list-item__number {
          order: 2;
        }

        & .benefits-list-item__name {
          order: 1;
        }

        & .benefits-list-item__description {
          text-align: right;
        }
      }
    }
  }
}

.contributors {

  @media #{$high-media} {
    height: 100vh;
  }

  &-author {
    background: $dark-blue;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 700px;
      margin: 0 auto;
      padding: 24px 10px;
      text-align: center;

      @media #{$high-media} {
        padding: 10px 0;
        flex-direction: row;
      }
    }

    &__heading {
      font-size: 48px;
      font-weight: normal;
      color: $primary-white;
    }

    &-block {

      &__photo {
        display: inline-block;
        width: 240px;
        height: 240px;
        box-shadow: 0 2px 1px 0 $light-black;
      }

      &-info {
        display: inline-block;
        position: relative;
        text-align: right;

        &__name {
          font-size: 24px;
          font-weight: normal;
          color: $primary-white;
          margin: 5px 0;
          text-align: center;

          @media #{$medium-media} {
            position: relative;
            right: -50px;
            text-align: inherit;
          }
        }

        &__rank {
          font-size: 18px;
          color: $primary-blue;
        }
      }
    }
  }

  &-developers {

    &-content {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
      padding: 30px 10px;

      @media #{$high-media} {
        padding: 30px 0;
      }
    }

    &__heading {
      margin: 0;
      font-size: 48px;
      font-weight: normal;
      color: $dark-blue;
    }

    &-wrapper {
      overflow: hidden;
    }

    &-developer {
      margin-top: 30px;

      @media #{$medium-media} {
        float: left;
      }

      &:nth-child(2) {

        @media #{$medium-media} {
          float: right;
        }
      }

      &__photo {
        width: 160px;
        height: 160px;
        border: 2px solid $dark-blue;
        border-radius: 50%;
      }

      &__name {
        margin: 0 0 10px;
        font-size: 24px;
        font-weight: normal;
        color: $primary-blue;
      }

      &__rank {
        font-size: 16px;
      }
    }
  }
}

.motivation {
  display: block;
  background: $primary-blue;

  &-content {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: hidden;
    position: relative;
    text-align: center;

    @media #{$high-media} {
      padding: 20px 0;
    }

    @media #{$high-media} {
      text-align: left;
    }
  }

  &__question {
    margin: 0 0 5px;
    //float: left;
    color: $primary-white;
    font-size: 36px;
  }

  &__button {
    @include orange-button(2px, 15px);
    display: inline-block;

    @media #{$high-media} {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}