<!--menu component-->
<aside class="menu">
    <div class="menu-wrapper">
        <ul class="menu-list">
            <li class="menu-list-item menu-list-item--heading">
                <span class="menu-list-item__title">Menu</span>
            </li>
            <li class="menu-list-item">
                <a href="#" class="menu-list-item__link"><i class="menu-list-item__icon fa fa-blind"></i>Menu item 1<i class="menu-list-item__arrow">></i></a>
            </li>
            <li class="menu-list-item">
                <a href="#" class="menu-list-item__link"><i class="menu-list-item__icon fa fa-compass"></i>Menu item 2<i class="menu-list-item__arrow">></i></a>
            </li>
            <li class="menu-list-item">
                <a href="#" class="menu-list-item__link"><i class="menu-list-item__icon fa fa-headphones"></i>Menu item 3<i class="menu-list-item__arrow">></i></a>
            </li>
            <li class="menu-list-item">
                <a href="#" class="menu-list-item__link"><i class="menu-list-item__icon fa fa-plane"></i>Menu item 4<i class="menu-list-item__arrow">></i></a>
            </li>
            <li class="menu-list-item">
                <a href="#" class="menu-list-item__link"><i class="menu-list-item__icon fa fa-university"></i>Menu item 5<i class="menu-list-item__arrow">></i></a>
            </li>
        </ul>
    </div>
    <div class="menu-backdrop"></div>
</aside>

<!--postHeader component-->
<section class="post-header">
    <div class="post-header-content">
        <h2 class="post-header-content__heading">Make your project flow more convenient</h2>
        <button [routerLink]="['/users/auth']"
                class="post-header-content__button">
            Click here to start now
        </button>
        <!--fast login component-->
        <div class="fast-login">
            <span class="fast-login__title">Or fast login</span>
            <button class="fast-login__with-google"></button>
            <form class="fast-login-form">
                <input class="fast-login-form__email"
                       type="email"
                       tabindex="1"
                       placeholder="email">
                <input class="fast-login-form__password"
                       type="password"
                       tabindex="2"
                       placeholder="password">
                <button class="fast-login-form__sign-in">> Sign in <</button>
            </form>
        </div>
    </div>
    <div class="post-header-arrow">
        <span class="post-header-arrow__one fa fa-angle-down"></span>
    </div>
    <div class="post-header-arrow post-header-arrow--right">
        <span class="post-header-arrow__one fa fa-angle-down"></span>
    </div>
</section>
<!--benefits component-->
<section class="benefits">
    <div class="benefits-content">
        <h1 class="benefits__heading">What will you get?</h1>
        <ul class="benefits-list">
            <li class="benefits-list-item benefits-list-item--left">
                <div class="benefits-list-item-main">
                    <span class="benefits-list-item__number">1</span>
                    <h3 class="benefits-list-item__name">Benefit</h3>
                </div>
                <span class="benefits-list-item__description">Lorem ipsum is simply dummy text of the printing and typesetting industry</span>
            </li>
            <li class="benefits-list-item benefits-list-item--right">
                <div class="benefits-list-item-main">
                    <span class="benefits-list-item__number">2</span>
                    <h3 class="benefits-list-item__name">Benefit</h3>
                </div>
                <span class="benefits-list-item__description">Lorem ipsum is simply dummy text of the printing and typesetting industry</span>
            </li>
            <li class="benefits-list-item benefits-list-item--left">
                <div class="benefits-list-item-main">
                    <span class="benefits-list-item__number">3</span>
                    <h3 class="benefits-list-item__name">Benefit</h3>
                </div>
                <span class="benefits-list-item__description">Lorem ipsum is simply dummy text of the printing and typesetting industry</span>
            </li>
            <li class="benefits-list-item benefits-list-item--right">
                <div class="benefits-list-item-main">
                    <span class="benefits-list-item__number">4</span>
                    <h3 class="benefits-list-item__name">Benefit</h3>
                </div>
                <span class="benefits-list-item__description">Lorem ipsum is simply dummy text of the printing and typesetting industry</span>
            </li>
            <li class="benefits-list-item benefits-list-item--left">
                <div class="benefits-list-item-main">
                    <span class="benefits-list-item__number">5</span>
                    <h3 class="benefits-list-item__name">Benefit</h3>
                </div>
                <span class="benefits-list-item__description">Lorem ipsum is simply dummy text of the printing and typesetting industry</span>
            </li>
            <li class="benefits-list-item benefits-list-item--right">
                <div class="benefits-list-item-main">
                    <span class="benefits-list-item__number">6</span>
                    <h3 class="benefits-list-item__name">Benefit</h3>
                </div>
                <span class="benefits-list-item__description">Lorem ipsum is simply dummy text of the printing and typesetting industry</span>
            </li>
        </ul>
    </div>
</section>
<!--contributors component-->
<section class="contributors">
    <div class="contributors-author">
        <div class="contributors-author-content">
            <h1 class="contributors-author__heading">Author</h1>
            <div class="contributors-author-block">
                <div class="contributors-author-block-info">
                    <h3 class="contributors-author-block-info__name">Dmytro Demakov</h3>
                    <span class="contributors-author-block-info__rank">Javascript Software Engineer</span>
                </div>
                <img class="contributors-author-block__photo" src="assets/images/dmytro.PNG" alt="">
            </div>
        </div>
    </div>
    <!--motivation component-->
    <div class="motivation">
        <div class="motivation-content">
            <h2 class="motivation__question">So what are you waiting for?</h2>
            <button [routerLink]="['/users/login']"
                    class="motivation__button">
                Start now
            </button>
        </div>
    </div>

    <div class="contributors-developers">
        <div class="contributors-developers-content">
            <h1 class="contributors-developers__heading">Developers</h1>
            <div class="contributors-developers-wrapper">
                <div class="contributors-developers-developer">
                    <img class="contributors-developers-developer__photo"
                         src="assets/images/vitaliy.PNG"
                         alt="Vitaliy">
                    <h3 class="contributors-developers-developer__name">Vitalii Kotliar</h3>
                    <span class="contributors-developers-developer__rank">Junior Javascript Software Engineer</span>
                </div>
                <div class="contributors-developers-developer">
                    <img class="contributors-developers-developer__photo"
                         src="assets/images/bohdan.PNG"
                         alt="Bohdan">
                    <h3 class="contributors-developers-developer__name">Bohdan Huseinov</h3>
                    <span class="contributors-developers-developer__rank">Junior Javascript Software Engineer</span>
                </div>
            </div>
        </div>
    </div>
</section>