//TODO: remove it later
@import "../_variables";
@import "../_mixins";

.main-content {
  display: flex;
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
}

projects {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-width: 300px;
  font-size: $font_size_common;
  color: $grey;
  padding-bottom: $footer_height;
}

@import "projects";
@import "project-details";
@import "projects-responsive";
